@font-face {
    font-family: 'AvantGarde CE';
    src: url('AvantGardeCE-Book.woff2') format('woff2'),
        url('AvantGardeCE-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

